---
layout: default
title: Home
pageOrder: 1
---

//- #hero
//-   section.profile 
//-     div I Develop for the Web. 
//-     div Frontend and Backend. 
//-     div Currently Enjoying Node.js.
//-   section
//-     div Content here
//-   section
//-     div Other content here

#home
  section#left
    h2 Active Github Repos
    ul.link-list
      - for repo in feedr.feeds['github-repos']
        li
          a(href=repo.html_url) #{repo.full_name} 
          | (#{repo.language})

    h2 Starred Github Repos
    ul.link-list
      - for repo in feedr.feeds['github-starred']
        li
          a(href=repo.html_url) #{repo.full_name} 
          | (#{repo.language})

  section#right
    h1 Announcements
    each news in getCollection('news').toJSON().slice(0, 3)
      h3= news.title
      p.content!= news.contentRenderedWithoutLayouts

    h1 Latest Blog Post
    each post in getCollection('posts').toJSON().slice(0, 1)
      h3
        a(href=post.url)= post.title
      p.content!= getPostPreview(post)
      div
        a.button(href=post.url) Read More
