---
layout: default
title: Home
pageOrder: 1
---

//- #hero
//-   section.profile 
//-     div I Develop for the Web. 
//-     div Frontend and Backend. 
//-     div Currently Enjoying Node.js.
//-   section
//-     div Content here
//-   section
//-     div Other content here

#home
  section#left
    h2 Active Github Repos
    ul.link-list
      - for repo in feedr.feeds['github-repos']
        li
          a(href=repo.html_url) #{repo.full_name} 
          | (#{repo.language})

    h2 Starred Github Repos
    ul.link-list
      - for repo in feedr.feeds['github-starred']
        li
          a(href=repo.html_url) #{repo.full_name} 
          | (#{repo.language})

  section#right
    - var news = getCollection('news').toJSON()
    - if (news.length)
      h1 Announcements
      each item in news.slice(0, 3)
        article.announce
          h3= item.title
          div.content!= item.contentRenderedWithoutLayouts

    h1 Latest Post
    each post in getCollection('posts').toJSON().slice(0, 1)
      article.post
        h3
          a(href=post.url)= post.title
        div.content
          - if (post.icon)
            img(src="/images/icons/#{post.icon}.jpg").icon

          != getPostPreview(post)
        div
          a.button(href=post.url) Read More
          a.button(href="/posts") View Recent Posts
