!!!
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="Description", content="#{getPreparedDescription()}")
    meta(name="Keywords", content="#{getPreparedKeywords()}")
    meta(last-updated="#{site.date}")
    != getBlock('meta').toHTML()

    title= getPreparedTitle()

    script(src="/vendor/modernizr.min.js")
    != getBlock('styles').add(site.getStyles(getEnvironment())).toHTML()

  body
    #body-wrapper
      #header-wrapper
        header
          h1.text
            a(href='/')
              img(src="/images/headshot.png", alt=site.name) 
              = site.name
          h1.notext
            a(href='/')
              img(src="/images/headshot.png", alt=site.name)
          nav#nav
            each page in getCollection('pages').toJSON()
              a(href=page.url)= page.title

      #content-wrapper
        != content

    #footer-wrapper
      footer
        #copyright &copy; #{site.author}. All rights reserved.

    != getBlock('scripts').add(site.getScripts(getEnvironment())).toHTML()

    - if (getEnvironment() == 'production' || getEnvironment() == 'static')
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8159186-1']);
        _gaq.push(['_trackPageview']);
        setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])", 15000);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

