- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

- styles.add(['/css/normalize.min.css', '/vendor/highlightjs/tomorrow-night.css'])
- scripts.add(['/vendor/jquery.min.js', '/js/skel-config.js', '/js/skel.min.js', '/js/skel-panels.min.js', '/vendor/highlightjs/highlight.pack.js', '/js/site.js'])

!!!
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="Description", content="#{getPageDescription()}")
    meta(name="Keywords", content="#{getPageKeywords()}")
    meta(last-updated="#{site.date}")

    script(src="/js/modernizr.min.js")
    != styles.toHTML()

    noscript
      link(rel="stylesheet", href="/css/skel-noscript.css")
      link(rel="stylesheet", href="/css/style.css")
      link(rel="stylesheet", href="/css/style-desktop.css")

    title= getPageTitle()

  body
    #header-wrapper
      .container
        .row
          .12u

            header#header
              h1
                a(href='/')= site.name
              nav#nav
                each page in getCollection('pages').toJSON()
                  a(href=page.url)= page.title

    != content

    #footer-wrapper
      .container
        .row
          .12u
            #copyright 
              | &copy; #{site.author}. All rights reserved. | Template: 
              a(href="http://html5up.net/minimaxing",target="_blank",ref="ext") HTML5 UP (heavily modified)

    != scripts.toHTML()

