- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

- styles.add(['/css/normalize.min.css', '/css/style.css'])
- scripts.add(['/vendor/jquery.min.js', '/vendor/highlightjs/highlight.pack.js', '/js/site.js'])

!!!
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="Description", content="#{getPageDescription()}")
    meta(name="Keywords", content="#{getPageKeywords()}")
    meta(last-updated="#{site.date}")

    script(src="/js/modernizr.min.js")
    != styles.toHTML()

    title= getPageTitle()

  body
    #body-wrapper
      #header-wrapper
        header
          h1.text
            a(href='/')
              img(src="/images/headshot.png", alt=site.name) 
              = site.name
          h1.notext
            a(href='/')
              img(src="/images/headshot.png", alt=site.name)
          nav#nav
            each page in getCollection('pages').toJSON()
              a(href=page.url)= page.title

      #content-wrapper
        != content

    #footer-wrapper
      footer
        #copyright &copy; #{site.author}. All rights reserved.

    != scripts.toHTML()

